@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

/*--------- HOME CAROUSEL -------------*/

.SliderContent{
  display: flex ;
  
  object-fit: contain;
}

.mySwiper {
  width: 100%;
  height: auto;
}

.header{
  margin-top: 70px;
}

.header img{
  width: 100%;
}

@media (min-width: 300px) and (max-width: 720px){
  .SliderContent{
    object-fit: contain;
    height: 15px;
  }

};
  

/* styles/Carousel.module.css */

.Homecarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 70px;
}

.Homeslide {
  display: none;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
}

.Homeactive {
  display: block;
}

.Homeactive img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .Homecarousel {
    margin-top: 100px;
  }
}

@media  (max-height: 498px) {
  .Testimonialcontainer{
    margin-top: 400px;
  }
}

/*--------- HOME CARDS -------------*/
.HomeCards{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-top: 30px;
  }
  
  .cardimg {
    width: 400px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.705);
  }
  
  .card:hover {
    transform: translateY(-5px);
  }

  @media (max-width: 1190px) {
    .card {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 425px) {
    .cardimg{
      width: 90%;
    }
  }
/*--------- HOME ABOUT -------------*/


.aboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
}

.aboutColumn {
  flex: 1;
  padding-right: 50px;
}

.aboutColumn p {
  line-height: 30px;
  margin-top: 10px;
  font-size: 15px;
}

.countingNumbersColumn {
  display: flex;
  margin-right: 50px;
  gap: 80px; /* Adjust gap between counting numbers */
}

.upperNumbers,
.lowerNumbers {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the spacing between upper and lower sections */
}

.countingNumber {
  text-align: center;
  width: 100px;
}

.countingNumber h3 {
  color: #ff6600;
  font-size: 39px;
  margin-bottom: 10px;
}

.countingNumber p {
  font-size: 20px;
  color: #666;
}

@media screen and (max-width: 767px) {
  .aboutContainer {
    flex-direction: column;
  }

  .aboutColumn,
  .countingNumbersColumn {
    width: 100%;
    padding: 0;
    margin-right: 0;
    align-items: center;
  }

  .countingNumbersColumn {
    margin-top: 20px;
    gap: 50px;
  }

  .upperNumbers,
  .lowerNumbers {
    width: 100%;
    gap: 17px; /* Adjust the spacing on smaller screens */
  }
}


/*--------- HOME PRODUCT CAROUSEL -------------*/

.ProductcarouselContainer h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

.ProductcarouselContainer {
  text-align: center;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 0px;
}

.ProductsName{
  font-size: 18px;
  margin-bottom: 20px;
 }  
.certificationItem img:hover{
  transform: translateY(-5px);
}

@media (max-width: 768px) {

  .ProductcarouselContainer{
    margin-top: 10px;
  }
}

/*--------- HOME TRUST US -------------*/

.ContactChoose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: rgb(1,146,116);
     background: linear-gradient(90deg, rgba(1,146,116,1) 0%, rgba(86,200,175,1) 40%, rgba(86,200,175,1) 51%, rgba(1,146,116,1) 100%);
    color: white;
    
  }
  
  .ChooseHeading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .ChoosePoints {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .ChoosePoint {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px; 
  }
  
  .ChoosePoint h3 {
    margin-left: 10px; 
  }
  
  
  @media (max-width: 768px) {
    .ContactChoose{
      margin-bottom: 150px;
    }
    .ChoosePoint {
      flex-direction: column;
      text-align: center;
    }
  
    .ChoosePoint h3 {
      margin-left: 0; 
      margin-top: 10px;
    }
  }
  
  
  
  
/*--------- HOME TESTIMONIALS -------------*/


.Testimonialcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.TestimonialcardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Testimonialcard {
  background-color: white;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 7px;
  border: none;
  margin: 10px;
  padding: 20px;
  width: 400px;
}

.Testimonialcard:hover {
  transform: translateY(-5px);
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userimge {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  flex-grow: 1;
}

.rating {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #f39c12; /* Star color */
  font-size: 24px;
  margin-top: 5px;
}

.review {
  margin-top: 10px;
}

@media (max-width: 858px) {
  .Testimonialcontainer{
    margin-top: 380px;
    margin-bottom: 350px;
  }

  .TestimonialcardContainer{
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .Testimonialcontainer{
    margin-top: 200px;
  }

  .TestimonialcardContainer{
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .Testimonialcontainer{
    margin-top: 380px;
    margin-bottom: 350px;
  }

  .TestimonialcardContainer{
    width: 100%;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .TestimonialcardContainer{
    width: 100%;
  }
  .card {
    width: 100%;
  }
}


@media (max-width: 450px) {
  .Testimonialcontainer{
    margin-top: 380px;
    margin-bottom: 330px;
  }

  .TestimonialcardContainer{
    width: 100%;
  }
  .card {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .TestimonialcardContainer{
    width: 100%;
  }
  .card {
    width: 48%;
  }

}

@media (max-width: 390px) {
  .Testimonialcontainer{
    margin-top: 450px;
    margin-bottom: 330px;
  }
}
@media (max-width: 370px) {
  .Testimonialcontainer{
    margin-top: 450px;
    margin-bottom: 350px;
  }

}
/*--------- HOME CERTIFICATIONS -------------*/

.carouselContainer h1 {
    font-size: 2em;
    margin-bottom: 40px;
  }
  
  .carouselContainer {
    text-align: center;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 0px;
  }
  
.imgeUrl{
  background-color: transparent;
}
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-top: 20px;
    overflow-y: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .carousel::-webkit-scrollbar {
    display: none; 
  }
  .certificationItem {
    flex: 0 0 auto;
    width: 100%; 
    max-width: 300px; 
    margin-right: 20px;
    scroll-snap-align:start;
    background-color: transparent;

  }
  
  .certificationItem img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    background-color: transparent;
  }
  
  .certificationItem h3 {
    margin-top: 10px;
    font-size: 1.2em;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  
 
.controls {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .controlButton {
    cursor: pointer;
    padding: 8px;
    font-size: 1.5em;
  }
  
  .leftButton {
    position: absolute;
    left: 0;
  }
  
  .rightButton {
    position: absolute;
    right: 0;
  }
  .dots {
    margin-top: 25px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;  
    background-color: rgba(255, 166, 0, 0.577);
    margin-right: 5px;
    cursor: pointer;
  }
  
  .activeDot {
    background-color: #333;
  }
  
  @media (max-width: 768px) {
    .certificationItem {
      width: 100%;
      max-width: none;
      margin-right: 0;
    }
    .carouselContainer{
      margin-top: 50px;
    }
  }
  
  @media (max-width: 1300px) {
    .carouselContainer{
      margin-top: -30px;
    }
  }
  

/*--------- HOME LOCATIONS -------------*/

.mapsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
  

  .mapHeading {
    text-align: center;
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .mapBox {
      width: 100%;
      margin-left: 20px;
      margin-right: 20px; /* Make all maps take full width on mobile */
    }
  
    .map iframe {
      width: 100%; /* Make all iframes take full width on mobile */
      height: 200px; /* Adjust the height as needed */
    }
  }
  
  
/*--------- HOME FAQ -------------*/

.accordion {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  max-width: 991px;
  min-width: 320px;
  margin: 50px auto;
  padding: 0 50px;
}

.accordion h1 {
  font-size: 40px;
  text-align: center;
  color: #ff6600;
  margin-bottom: 15px;
}

.accordionItem {
  margin-top: 16px;
  border: 1px solid #fcfcfc;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.accordionItem .accordionItemTitle {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
}

.accordionItem .accordionItemDesc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #444;
  border-top: 1px dashed #ddd;
  padding: 10px 20px 20px;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  transition: max-height 2s ease-in-out; /* Add transition property for smooth animation */
}

.accordionItem input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.accordionItem input[type="checkbox"]:checked ~ .accordionItemDesc {
  display: block;
  max-height: 1000px; /* Adjust to a sufficiently large value */
}

.accordionItem input[type="checkbox"]:checked ~ .accordionItemTitle .icon:after {
  content: "-";
  font-size: 20px;
}

.accordionItem input[type="checkbox"] ~ .accordionItemTitle .icon:after {
  content: "+";
  font-size: 20px;
}

.accordionItem:first-child {
  margin-top: 0;
}

.accordionItem .icon {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .accordion {
    padding: 0 16px;
  }

  .accordion h1 {
    font-size: 22px;
  }
}

/*--------- HOME BLOG -------------*/


.blogHeading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff6600;
  }


  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    /* padding: 20px; */
  }

  .Blogcard {
    width: 380px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .Blogcard:hover {
    transform: scale(1.025);
  }
  
  .BlogCardimg {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .BlogCardContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .BlogCardHeading {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .BlogCardDescription {
    margin-bottom: 16px;
    line-height: 23px;
    color: #555;
  }
  
  .BlogBtn {
    background-color: rgb(1,146,116);
    color: #fff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .ViewMoreBtn {
    background-color: #ff6600;
    color: #fff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .ViewMoreContainer{
    text-align: center;
    margin-bottom: 40px;
  }

  .BlogBtn:hover{
    background-color: rgba(1, 146, 117, 0.862);
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .Blogcard {
      width: 100%;
    }
  }
  @media screen and (max-width: 1200px) {
    .cardsContainer {
      width: 100%;
    }
    .Blogcard{
      width: 300px;
    }
  }