.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  width: 100%;
  padding: 0 15px;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  height: 70px;
  position: fixed; /* Add position: fixed to make the navbar fixed at the top */
  top: 0; /* Stick the navbar to the top of the viewport */
  transition: top 0.3s ease; /* Add a smooth transition effect for the 'top' property */
}
.logo {
  margin-top: 10px;
}
  
  .navLinks {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navLinks a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  .socialLinks {
    display: flex;
    gap: 15px;
  }
  
  .logo{
    margin-top: 10px;
  }
 
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 0, 0);
    margin: 6px 0;
    transition: 0.4s ease-in;
  }
  
  .NavButton{
  padding: 13px 30px;
  border: none;
  display: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: teal;
  font-size: 15px;
  }

  .NavButton2{
    padding: 13px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: teal;
    font-size: 15px;
    }
  
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 15px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}


@media screen and (max-width: 769px) {
    .navbar {
      flex-wrap: wrap;
      display: flex;
      height: 100px;
    }
  
    .logo {
      order: 1;
      margin-bottom: 10px;
    }
  
    .navLinks {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 40%;
      position: absolute;
      left: 400px;
      top: 30px;
      border-radius: 15px;
      background-color: white;
      z-index: 1;
      order: 2;
    }
  
    .navLinks.open {
      display: flex;
    }
  
    .navLinks a {
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      color: black;
      border-radius: 5px;
    }
  
    .socialLinks {
      display: none;
    }

    .NavButton{
      display:block;
      margin-left: 70px;
    }

    .NavButton2{
      display: none;
    }
  
    .hamburger {
      display: flex;
      align-items: center;
      order: 4;
      margin-left: auto;
      margin-top: 30px;
    }
  
    .navbar.open {
      height: 110px;
    }
}

@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 15px;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 270px;
    top: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }
  .NavButton{
    display:block;
    margin-left: 75px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}

@media (max-width: 550px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 15px;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 220px;
    top: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }
  .NavButton{
    display:block;
    margin-left: 52px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}

@media  (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 15px;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 60%;
    position: absolute;
    left: 145px;
    top: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }

  .NavButton{
    display:block;
    margin-left: 65px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}

@media (max-width: 435px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 15px;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 60%;
    position: absolute;
    left: 120px;
    top: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }

  .NavButton{
    display:block;
    margin-left: 45px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 15px;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 65%;
    position: absolute;
    left: 80px;
    top: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }

  .NavButton{
    display:block;
    margin-left: 39px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}