.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  width: 100%;
  padding: 0 15px;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  height: 70px;
  position: fixed; /* Add position: fixed to make the navbar fixed at the top */
  top: 0; /* Stick the navbar to the top of the viewport */
  transition: top 0.3s ease; /* Add a smooth transition effect for the 'top' property */
}
.logo {
  margin-top: 10px;
}

.dropdown {
  position: relative;
}


.dropdownContent {
  display: none;
  position: absolute;/* or display: block; */
  flex-direction: column; 
  background-color: white;
  padding: 10px;
  width: max-content;
  font-weight: 500;
  border-radius: 4px;
}
 
.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
}
.dropdownContent a {
  line-height: 30px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
}
.dropdownContentLinks{
  line-height: 30px;
}
.dropdownContentLinks:hover{
  color: orange;
}

.subDropdown{
  /* display: block; /* or display: block; */
 /* flex-direction: row; */
  background-color: white;
  padding: 10px;

 /* overflow-y: auto; */
  border-radius: 4px;
}

.subDropdownContent{
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  margin-top: -10%;
  left: 95%;
  border-radius: 5px;
  width: max-content;
}

.subDropdownContentLinks{
  display: flex;
  flex-direction: row;

  line-height: 30px;
}

.subDropdown :hover{
  color: orange;
}
.subDropdown:hover .subDropdownContent {
  display: flex;
  flex-direction: column;
}

.subDropdownContent a {
  line-height: 30px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.subDropdownContent a:hover {
  color: orange;
}

  .navLinks {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navLinks a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  .socialLinks {
    display: flex;
    gap: 15px;
  }
  
  .logo{
    margin-top: 10px;
  }
 
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 0, 0);
    margin: 6px 0;
    transition: 0.4s ease-in;
  }
  
  .NavButton{
  padding: 13px 30px;
  border: none;
  display: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: teal;
  font-size: 15px;
  }

  .NavButton2{
    padding: 13px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: teal;
    font-size: 15px;
    }
  
/* @media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .dropdownContent{
    display: block;
    flex-direction: column;
    

  }
  .dropdownContentLinks{
    margin-top: -50px;
  }
  .subDropdown{
    display: block;
    flex-direction: row;
  }

  .subDropdownContent{
    display: block;
    left: 0;
    top: 0;
  }

  .navLinks {
    margin-top: 15px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}
*/

@media screen and (max-width: 769px) {
   .navbar {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      height: 100px;
      

    }

    .dropdown{
      display: block;
      padding: 0;
      top: 0%;
    
    }

    .dropdownContent{

      display: flex;
      position: relative;
      background-color: white;
      flex-direction: column;
      width: 100%;
      border-radius: 4%;
      padding: 0;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0%;

    }
    .Dropdown:hover .DropdownContent {
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
      width: 100%; 
    }
    .subDropdown{
    
      display: block;
      flex-direction: row;
      align-items: center;
      top: 100%;
      background-color: whitesmoke;
    }
    .navLinks {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 40%; 
      right: 0; 
      top: 70px; 
      height: 500px;
      border-radius: 15px;
      background-color: white;
      z-index: 1;
      order: 2;
    }
  
   
    .dropdownContentLinks {
      margin-top: 0;
    }

    .subDropdownContent{
 

      display: flex;
      position: relative;
      flex-direction: row;
      background-color: white;
      width: 100%;
      left: 0;
      margin-top: 10%;
    }
    .subDropdownContentLinks{
      display: block;
      flex-wrap: wrap;
      font-size: small;
      padding: 0%;
      flex-direction: row;
    }
  
    .logo {
      order: 1;
      margin-bottom: 10px;
    }
  
    .navLinks {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 40%;
      position: absolute;
      left: 60%;
      top: 30px;
      overflow-y: scroll;
      border-radius: 15px;
      margin-top: 40px;
      background-color: white;
      z-index: 1;
      order: 2;
    }
  
    .navLinks.open {
      display: flex;
    }
  
    .navLinks a {
      padding: 15px;
      box-sizing: border-box;
      background-color: white;
      color: black;
      border-radius: 5px;
    }
  
    .socialLinks {
      display: none;
    }

    .NavButton{
      display:block;
      margin-left: 70px;
    }

    .NavButton2{
      display: none;
    }
    .dropdownContentLinks{
 
      display: block;
      background-color: whitesmoke;
      font-size: small;
      text-align: left;
      z-index: 2;
      flex-direction: column;
      padding: 0;
      flex-wrap: wrap;
    }
    .hamburger {
      display: flex;
      align-items: center;
      order: 4;
      margin-left: auto;
      margin-top: 30px;
    }
    .NavButton2{
      display: none;
    }
    .navbar.open {
      height: 110px;
    } 
   /* .navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
    }
    
    .dropdown{
      display: block;
      padding: 0;
      top: 0%;
    
    }
    
    .dropdownContent{
      display: flex;
      position: relative;
      background-color: white;
      flex-direction: column;
      width: 100%;
      border-radius: 4%;
      padding: 0;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0%;
    }
    .dropdownContentLinks{
      display: block;
      background-color: whitesmoke;
      font-size: small;
      text-align: left;
      z-index: 2;
      flex-direction: column;
      padding: 0;
      flex-wrap: wrap;
    }
    .Dropdown:hover .DropdownContent {
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
      width: 100%; 
    }
    
    
    .navLinks {
      margin-top: 40px;
    }
    .navLinks {
      display: none;
      flex-direction: column;
      text-align: center;
    
      width: 50%;
      height: 500px;
      overflow-y: scroll;
      position: absolute;
      left: 50%;
      top: 30px;
      border-radius: 15px;
      background-color: white;
      z-index: 1;
      order: 2;
    }
    .subDropdown{
      display: block;
      flex-direction: row;
      align-items: center;
      top: 100%;
      background-color: whitesmoke;
    }
    
    .subDropdownContent{
      display: flex;
      position: relative;
      flex-direction: row;
      background-color: white;
      width: 60%;
      left: 0;
      margin-top: 10%;
    }
    .subDropdownContentLinks{
      display: block;
      flex-wrap: wrap;
      font-size: small;
      padding: 0%;
      flex-direction: row;
    }
    .subDropdownContent {
      display: block; 
      flex-direction: row;
      flex-wrap: nowrap;
      line-height: 3px;
      width: 100%;
    }
    .subDropdown:hover .subDropdownContent {
      display: flex;
      flex-direction: column;
      width: 100%; 
    }
    .subDropdownContentLinks {
      display: flex;
      flex-wrap: wrap; 
      flex-direction: row;
    }
    
    .subDropdownContentLinks  {
      line-height: 3px;
      color: black;
      text-decoration: none;
      transition: color 0.3s ease;
      white-space: normal; 
      margin-right: 10px; 
    }
    
    .NavButton{
      display:flex;
      margin-right: 0px;
      align-items: center;
      align-self: center;
    }
    .NavButton2{
      display:flex;
      align-self: center;
    }
    
    .socialLinks {
      margin-top: 15px;
      align-items: center;
      text-align: center;
    } */
}


@media (max-width: 650px) {
 /* .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 15px;
  }
  .dropdownContentLinks{
    margin-top: -5px;
  }
  .subDropdown{
    display: block;
  }

  .subDropdownContent{
    display: block;
    left: 0;
    top: 0;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }
  .NavButton{
    display:block;
    margin-left: 75px;
  }
  .NavButton2{
    display: none;
  }

  .socialLinks {
    margin-top: 15px;
  }
}
*/
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.dropdown{
  display: block;
  padding: 0;
  top: 0%;

}

.dropdownContent{
  display: flex;
  position: relative;
  background-color: white;
  flex-direction: column;
  width: 100%;
  border-radius: 4%;
  padding: 0;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0%;
}
.dropdownContentLinks{
  display: block;
  background-color: whitesmoke;
  font-size: small;
  text-align: left;
  z-index: 2;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
}
.Dropdown:hover .DropdownContent {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%; /* Set the width to 100% */
}


.navLinks {
  margin-top: 40px;
}
.navLinks {
  display: none;
  flex-direction: column;
  text-align: center;

  width: 50%;
  height: 500px;
  overflow-y: scroll;
  position: absolute;
  left: 50%;
  top: 30px;
  border-radius: 15px;
  background-color: white;
  z-index: 1;
  order: 2;
}
.subDropdown{
  display: block;
  flex-direction: row;
  align-items: center;
  top: 100%;
  background-color: whitesmoke;
}

.subDropdownContent{
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  width: 60%;
  left: 0;
  margin-top: 10%;
}
.subDropdownContentLinks{
  display: block;
  flex-wrap: wrap;
  font-size: small;
  padding: 0%;
  flex-direction: row;
}
.subDropdownContent {
  display: block; /* or display: block; */
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 3px;
  width: 100%;
}
.subDropdown:hover .subDropdownContent {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set the width to 100% */
}
.subDropdownContentLinks {
  display: flex;
  flex-wrap: wrap; /* Allow the text to wrap within the container */
  flex-direction: row;
}

.subDropdownContentLinks  {
  line-height: 3px; /* Adjust line-height if needed */
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: normal; /* Allow the text to wrap */
  margin-right: 10px; /* Add spacing between links */
}

.NavButton{
  display:flex;
  margin-right: 0px;
  align-items: center;
  align-self: center;
}
.NavButton2{
  display:flex;
  align-self: center;
}

.socialLinks {
  margin-top: 15px;
  align-items: center;
  text-align: center;
}
}
@media (max-width: 550px) {
/*  .navbar {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .dropdown{
    display: block;
    padding: 0;
    text-overflow:clip;

  }

  .dropdownContent{
    display: block;
    position: absolute;
    flex-direction: column;
    width: fit-content;
    border-radius: 4%;
    padding: 0;
    z-index: 1;
    left: 0;
    right: 0;
    top: 100%;
  }
  .dropdownContentLinks{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navLinks {
    margin-top: 15px;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    position: absolute;
    left: 30%;
    top: 0px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }
  .subDropdown{
    display: block;
    flex-direction: row;
    align-items: center;
  }

  .subDropdownContent{
    display: flex;
    background-color: white;
    text-overflow:clip;
    left: 0;
    top: 10%;
  }
  .subDropdownContentLinks{
    display: flex;
    flex-direction: row;
  }

  .NavButton{
    display:none;
    margin-left: 52px;
  }
  .NavButton2{
    display:none;
    margin-left: 52px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}
*/
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.dropdown{
  display: block;
  padding: 0;
  top: 0%;

}

.dropdownContent{
  display: flex;
  position: relative;
  background-color: white;
  flex-direction: column;
  width: 100%;
  border-radius: 4%;
  padding: 0;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0%;
}
.dropdownContentLinks{
  display: block;
  background-color: whitesmoke;
  font-size: small;
  text-align: left;
  z-index: 2;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
}
.Dropdown:hover .DropdownContent {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%; /* Set the width to 100% */
}


.navLinks {
  margin-top: 40px;
}
.navLinks {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 65%;
  height: 500px;
  overflow-y: scroll;
  position: absolute;
  left: 35%;
  top: 30px;
  border-radius: 15px;
  background-color: white;
  z-index: 1;
  order: 2;
}
.subDropdown{
  display: block;
  flex-direction: row;
  align-items: center;
  top: 100%;
  background-color: whitesmoke;
}

.subDropdownContent{
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  width: 60%;
  left: 0;
  margin-top: 10%;
}
.subDropdownContentLinks{
  display: block;
  flex-wrap: wrap;
  font-size: small;
  padding: 0%;
  flex-direction: row;
}
.subDropdownContent {
  display: block; /* or display: block; */
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 3px;
  width: 100%;
}
.subDropdown:hover .subDropdownContent {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set the width to 100% */
}
.subDropdownContentLinks {
  display: flex;
  flex-wrap: wrap; /* Allow the text to wrap within the container */
  flex-direction: row;
}

.subDropdownContentLinks  {
  line-height: 3px; /* Adjust line-height if needed */
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: normal; /* Allow the text to wrap */
  margin-right: 10px; /* Add spacing between links */
}

.NavButton{
  display:flex;
  margin-right: 52px;
}
.NavButton2{
  display:flex;
  margin-left: 52px;
}

.socialLinks {
  margin-top: 15px;
}
}
@media (max-width: 435px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .dropdown{
    display: block;
    padding: 0;
    top: 0%;

  }

  .dropdownContent{
    display: flex;
    position: relative;
    background-color: white;
    flex-direction: column;
    width: 100%;
    border-radius: 4%;
    padding: 0;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0%;
  }
  .dropdownContentLinks{
    display: block;
    background-color: whitesmoke;
    font-size: small;
    text-align: left;
    z-index: 2;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
  }
  .Dropdown:hover .DropdownContent {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%; /* Set the width to 100% */
  }


  .navLinks {
    margin-top: 40px;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 65%;
    height: 500px;
    overflow-y: scroll;
    position: absolute;
    left: 35%;
    top: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    order: 2;
  }
  .subDropdown{
    display: block;
    flex-direction: row;
    align-items: center;
    top: 100%;
    background-color: whitesmoke;
  }

  .subDropdownContent{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: white;
    width: 60%;
    left: 0;
    margin-top: 10%;
  }
  .subDropdownContentLinks{
    display: block;
    flex-wrap: wrap;
    font-size: small;
    padding: 0%;
    flex-direction: row;
  }
  .subDropdownContent {
    display: block; /* or display: block; */
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 3px;
    width: 100%;
  }
  .subDropdown:hover .subDropdownContent {
    display: flex;
    flex-direction: column;
    width: 100%; /* Set the width to 100% */
  }
  .subDropdownContentLinks {
    display: flex;
    flex-wrap: wrap; /* Allow the text to wrap within the container */
    flex-direction: row;
  }
  
  .subDropdownContentLinks  {
    line-height: 3px; /* Adjust line-height if needed */
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: normal; /* Allow the text to wrap */
    margin-right: 10px; /* Add spacing between links */
  }

  .NavButton{
    display:flex;
    margin-right: 52px;
  }
  .NavButton2{
    display:flex;
    margin-left: 52px;
  }

  .socialLinks {
    margin-top: 15px;
  }
}