@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');


/*--------- SERVICE ABOUT -------------*/
.ServiceAboutContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 95px;
  margin-top: 100px;
  padding: 20px 100px;
  text-align: start;
}

.ServiceAboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 95px;
  padding: 20px 100px;
  text-align: start;
}

.ServiceAboutTextContainer {
  flex: 1;
  padding: 18px;
}

.ServiceAboutHeading {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.ServiceAboutDescription {
  font-size: 1rem;
  color: #555;
  text-align: start;
  line-height: 30px;
}

.AboutServiceImageContainer2 image {
  max-width: 50%;
  /* Adjusted max-width for smaller screens */
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 8px 10px gray;
}

.AboutServiceImage {
  max-width: 100%;
  /* Adjusted max-width for smaller screens */
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 8px 10px gray;
}



@media (max-width: 768px) {
  .ServiceAboutContainer {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    /* Adjusted padding for smaller screens */
  }
  .ServiceAboutContainer2 {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    /* Adjusted padding for smaller screens */
  }

  .ServiceAboutTextContainer,
  .AboutServiceImageContainer2 {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .ServiceAboutContainer {
    padding: 10px 10px;
    /* Adjusted padding for larger screens */
  }
  .ServiceAboutContainer2{
    padding: 10px 10px;
    /* Adjusted padding for larger screens */
  }
}

@media (max-width: 500px) {
  .ServiceAboutContainer {
    padding: 20px 5px;
    /* Adjusted padding for smaller screens */
  }
  .ServiceAboutContainer2 {
    padding: 20px 5px;
    /* Adjusted padding for smaller screens */
  }
}


/*---------- SERVICE STRIP 2 ----------*/


.serviceStripContainer {
  background: rgb(218, 87, 0);
  background: linear-gradient(90deg, rgba(218, 87, 0, 1) 0%, rgba(255, 132, 50, 1) 33%, rgba(255, 172, 117, 1) 65%, rgba(218, 87, 0, 1) 100%);
  color: #fff;
  padding: 40px 20px;
  margin-top: 0px;
  text-align: center;
  position: relative;
}

.serviceStripContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.serviceStripImage {
  position: absolute;
  top: -160px;
  left: 10px;
}

.serviceStripText {
  text-align: center;
  margin-top: 20px;
  margin-left: 180px;
  text-align: start;
}

.serviceStripText h1{
  line-height: 45px;

}

.serviceStripButtons {
  margin-top: 20px;
}

.btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 13px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: whitesmoke;
}

.btn img {
  width: 20px;
  margin-left: 5px;
}


@media (max-width: 768px) {
  .serviceStripContainer {
    background: rgb(218, 87, 0);
    background: linear-gradient(90deg, rgba(218, 87, 0, 1) 0%, rgba(255, 132, 50, 1) 33%, rgba(255, 172, 117, 1) 65%, rgba(218, 87, 0, 1) 100%);
    color: #fff;
    padding: 40px 20px;
    margin-top: 0px;
    text-align: center;
    position: relative;
  }

  .serviceStripText h1{
    line-height: 45px;
  
  }

  .serviceStripContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .serviceStripText {
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
  }

  .serviceStripImage {
    display: none;
  }

  .serviceStripText {
    text-align: center;
    margin-top: 10px;
  }

  .serviceStripButtons {
    position: relative;
    margin-top: 25px;
  }

}

@media (max-width: 1400px) {
  .serviceStripImage {
    top: -160px;
    left: -50px;
  }
}

@media (max-width: 1250px) {
  .serviceStripImage {
    top: -160px;
    left: -80px;
  }
}

/*---------- SERVICE TYPES ----------*/


.serviceTypesContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.ServiceTypesHeadingContainer {
  background: rgb(1, 146, 116);
  padding: 12px 50px;
  border-radius: 0px 90px 90px 0px;
  margin-bottom: 10px;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: start;
}

.AboutServiceImageContainer2 {
  margin: 20px;
}

.ServiceTypesHeading {
  font-size: 2rem;
  margin: 0;
  color: #fff;
}

.ServiceTypesHeadingContainer2 {
  font-size: 2rem;
  margin: 0;
  color: #fff;
  background: rgb(1, 146, 116);
  padding: 12px 50px;
  border-radius: 90px 0px 0px 90px;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 50%;
  /* Full width for desktop view */
  text-align: end;
  margin-left: auto;
}

.ServiceTypesContentContainer {
  display: flex;
  flex-direction: column;
  /* Updated for mobile view */
  padding-top: 10px;
}

.ServiceTypesDescription {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
}

.ServiceTypesimgeContainer {
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto;
  /* Center imge in mobile view */
}

.ServiceTypesImage {
  width: auto;
  height: 250px;
  border-radius: 8px;
  margin: 10px 0;
  /* Add margin for spacing in mobile view */
}

.ServiceTypesButton {
  padding: 15px;
  margin-top: 20px;
  background: rgb(1, 146, 116);
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

@media (min-width: 768px) {
  .ServiceTypesContentContainer {
    flex-direction: row;
  }

  .ServiceTypesDescription {
    flex: 1;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .ServiceTypesHeadingContainer {
    width: 60%;
  }

}


/*---------- SERVICE STRIP ----------*/


.serviceStripContainer {
  background: rgb(218, 87, 0);
  background: linear-gradient(90deg, rgba(218, 87, 0, 1) 0%, rgba(255, 132, 50, 1) 33%, rgba(255, 172, 117, 1) 65%, rgba(218, 87, 0, 1) 100%);
  color: #fff;
  padding: 20px;
}

.serviceStripContent {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.serviceStripText {
  text-align: left;

}

.serviceStripText {
  line-height: 25px;
}

.serviceStripText h1 {
  margin-bottom: 15px;
  line-height: 35px;
}

.serviceButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 13px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: whitesmoke;
}

.btn img {
  width: 20px;
  margin-left: 5px;
}

@media (min-width: 769px) {
  .serviceStripContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .serviceButtons {
    margin-top: 0;
    margin-left: 20px;
  }

}


/*--------- HEARING TEST PAGE ----------*/



.BlogContainer{
  margin: 120px 150px;
}

.BlogHeading{
  color: teal;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 35px;
}

.BlogImage{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.BlogImage Image{
  border-radius: 10px;
  background-color: rgb(36, 35, 35);
}

.BlogDescription{
  margin: 10px;
}

.BlogDescription p{
  line-height: 30px;
  font-size: 17px;
  text-align: start;
}

.BlogDescription ul{
  margin-top: 20px;
}

.BlogDescription ul li{
  color: #ff6600;
  line-height: 35px;
  font-size: 19px;
}

.AboutDescriptionContainer2{
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 10px 30px;
}

.AboutDescriptionRow1{
  width: 60%;
  margin-bottom: 40px;
}

.AboutDescriptionRow2{
  margin-left: 40px;

}

.AboutDescriptionRow2 ul li{
  line-height: 30px;
  font-size: 20px;
}

.AboutDescriptionContainer h2{
  margin-bottom: 35px;
  font-size: 45px;
  
}

.AboutDescriptionRow1{
  margin-left: 20px;
}

.AboutDescriptionRow1 h2{
  color: #ff6600;
  font-size: 30px;
  margin-bottom: 20px;
}

.AboutDescriptionRow1 p{
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 23px;
}

@media (max-width:800px){
.BlogContainer{
  margin:150px 60px;
}
}

@media (max-width:400px){
.BlogContainer{
  margin:130px 30px;
}
}

@media screen and (max-width: 950px) {
  .AboutDescriptionContainer2{
    flex-direction: column;
  }
  .AboutDescriptionRow1{
    width: 100%;

  }

}